.navbar-navy {
	background-color: transparent;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}

.navbar-navy .navbar {
	padding-right: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
}

.navbar-navy .navbar ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

.navbar-navy .navbar .navbar-nav {
	margin: auto;
}

.navbar-navy .navbar .navbar-nav .nav-item {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 0;
}

.navbar-navy.index-navber .navbar .navbar-nav .nav-item a {
	color: #000000;
}
.navbar-navy .navbar .navbar-nav .nav-item a {
	font-size: 18px;
	font-weight: 100;
	color: #fff;
	text-transform: capitalize;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 15px;
	margin-right: 15px;
}
.navbar-navy .navbar .navbar-nav .nav-item a i {
	font-size: 10px;
	position: relative;
	top: -1px;
	margin-left: 1px;
}

.navbar-navy .navbar .navbar-nav .nav-item:last-child a {
	margin-right: 0;
}

.navbar-navy .navbar .navbar-nav .nav-item:first-child a {
	margin-left: 0;
}


.navbar-navy .navbar .other-option {
	margin-left: 0;
	margin-top: 5px;
}
.navbar-navy .navbar .other-option .default-btn {
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 500;
	box-shadow: 0 2px 15px rgb(123, 104, 238, 0.15);
}

.navbar-navy .navbar .other-option .default-btn.nav-btn-1 {
	margin-right: 15px;
}

.navbar-navy .black-logo {
	display: none;
}

.navbar-area {
	background-color: transparent;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.navbar-area.is-sticky {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	background: #ffffff !important;
	-webkit-animation: 500ms ease-in-out 0s normal fadeInDown;
	animation: 500ms ease-in-out 0s normal fadeInDown;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.navbar-area.is-sticky .navbar-nav .nav-item a {
	color: #505050;
}

.navbar-area.is-sticky .navbar-nav .nav-item a:hover, .navbar-area.is-sticky .navbar-nav .nav-item a:focus, .navbar-area.is-sticky .navbar-nav .nav-item a.active {
	color: #32CD32;
}

.navbar-area.is-sticky .navbar-navy .navbar-brand .white-logo {
	display: none;
}

.navbar-area.is-sticky .navbar-navy .navbar-brand .black-logo {
	display: block;
}
.home-area {
	overflow: hidden;
	z-index: 1;
	height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-banner-content {
    max-width: 450px;
	padding-top: 50px;
}
.main-banner-content h1 {
	font-size: 35px;
	color: #333;
	margin: 0 0 20px 0;
	font-weight: 600;
}

.main-banner-content p {
	color: #555;
	font-size: 16px;
	margin: 0 0 0 0;
}

.main-banner-content .banner-btn {
	margin-top: 25px;
}

.home-area .banner-image {
    text-align: center;
    padding-top: 70px;
}

.home-area .creative-shape {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.services-section .section-title {
	margin-bottom: 35px;
}

.single-services-item {
	position: relative;
	z-index: 1;
	display: block;
	padding: 35px 30px;
	text-align: center;
	border-radius: 10px;
	background-color: #ffffff;
	margin-top: 30px;
	overflow: hidden;
}
.single-services-item h3 {
	font-size: 18px;
    font-weight: 600;
	margin-bottom: 0;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

.single-services-item h3 a {
	display: inline-block;
}

.single-services-item p {
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 0;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    will-change: transform;
}

.single-services-item .services-btn-link {
	margin-top: 16px;
}

.single-services-item .services-btn-link .services-link {
    display: inline-block;
    font-size: 16px;
    color: #32CD32;
	letter-spacing: 0.5px;
    font-weight: 600;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
	text-decoration: underline;
}

.single-services-item:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.single-services-item:hover .services-icon i {
    background: #fff;
}

.single-services-item:hover h3 {
	color: #fff;
}
.single-services-item:hover p {
	color: #fff;
}
.single-services-item:hover .services-btn-link .services-link {
	color: #fff;
}
.single-services-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	z-index: -1;
    background-image: linear-gradient(-135deg, #48dd1b 0%, #32CD32 100%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.single-services-item.active:before, .single-services-item:hover:before {
    opacity: 1;
}

.overview-content h2 {
	font-size: 33px;
	color: #000000;
	margin: 8px 0 15px 0;
}


.overview-content .features-list {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 16px;
	margin-left: -10px;
	margin-right: -10px;
}

.overview-content .features-list li {
	-ms-flex: 0 0 50%;
	-webkit-box-flex: 0;
	flex: 0 0 50%;
	max-width: 50%;
	margin-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.overview-content .features-list li span {
	display: block;
	background-color: #ffffff;
	border-radius: 0px 0px 10px 0px;
	padding: 12px 15px;
	padding-left: 25px;
	z-index: 1;
	position: relative;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	color: #505060;
	font-size: 14px;
	font-weight: 500;
	border-left: 2px solid #32CD32;
	-webkit-box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
	box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
	overflow: hidden;
}

.overview-content .features-list li span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
    right: 100%;
	bottom: 0;
	border-radius: 0px 0px 10px 0px;
	background-color: #32CD32;
	background-image: linear-gradient(-135deg, #1bdd35 0%, #32CD32 100%);
	z-index: -1;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.overview-content .features-list li span.active:before {
    right: 0;
}
.overview-content .features-list li span:hover::before {
	right: 0;
}

.overview-image {
	text-align: center;
}
.counter-area {
	text-align: center;
	position: relative;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 1;
}
.counter-area::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: .5;
	background-color: #32CD32;
	background-image: linear-gradient(-135deg, #611bdd 0%, #32CD32 100%);
}
.counter-area .section-title h5 {
	color: #ffffff;
}
.counter-area .section-title h2 {
	color: #fff;
}
.counter-contents h2 {
	color: #fff;
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 5px;
	word-spacing: -10px;
}
.counter-contents h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.team-area .section-title {
	margin-bottom: 35px;
}
.single-team-box {
	margin-top: 30px;
	overflow: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.team-image {
	position: relative;
	z-index: 1;
	border-radius: 3px;
	overflow: hidden;
}

.team-image::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #32CD32;
    background-image: linear-gradient(-135deg, #1bdd1b 0%, #32CD32 100%);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.single-team-box:hover .team-image::before {
    opacity: .8;
    visibility: visible;
}

.single-team-box .team-image img {
	width: 100%;
	height: auto;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.single-team-box:hover .team-image img {
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.team-social-icon {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 100%;
	text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.team-social-icon a {
    margin: 5px;
    color: #32CD32;
	font-size: 16px;
	display: inline-block;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
	will-change: transform;
}
.team-social-icon a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
	border-radius: 3px;
}
.single-team-box:hover .team-social-icon a {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.team-info {
	padding: 20px 15px 0px;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.team-info h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}
.team-info span {
	color: #32CD32;
	font-size: 15px;
	font-weight: 500;
	display: block;
}
.widget-area .widget {
	margin-top: 35px;
}

.widget-area .widget:first-child {
	margin-top: 0;
}

.widget-area .widget .widget-title {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
	margin-bottom: 25px;
	text-transform: capitalize;
	position: relative;
	font-size: 20px;
}

.widget-area .widget .widget-title::before {
	content: '';
	position: absolute;
	background: #32CD32;
	bottom: -1px;
	left: 0;
	width: 50px;
	height: 1px;
}

.widget-area .widget_search {
	background-color: #f5f5f5;
	padding: 15px;
}

.widget-area .widget_search form {
	position: relative;
}

.widget-area .widget_search form label {
	display: block;
	margin-bottom: 0;
}

.widget-area .widget_search form .screen-reader-text {
	display: none;
}

.widget-area .widget_search form .search-field {
	background-color: transparent;
	height: 50px;
	padding: 6px 15px;
	border: 1px solid #32CD32;
	width: 100%;
	display: block;
	outline: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.widget-area .widget_search form .search-field:focus {
	border-color: #32CD32;
}

.widget-area .widget_search form button {
	position: absolute;
	right: 0;
	outline: 0;
	bottom: 0;
	height: 50px;
	width: 50px;
	z-index: 1;
	border: none;
	color: #ffffff;
	background-color: #32CD32;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.widget-area .widget_search form button:hover {
	background-color: #505060;
	color: #ffffff;
}

.widget-area .widget_techmax_posts_thumb {
	position: relative;
	overflow: hidden;
}

.widget-area .widget_techmax_posts_thumb .item {
	overflow: hidden;
	margin-bottom: 15px;
}

.widget-area .widget_techmax_posts_thumb .item:last-child {
	margin-bottom: 0;
}

.widget-area .widget_techmax_posts_thumb .item .thumb {
	float: left;
	height: 80px;
	overflow: hidden;
	position: relative;
	width: 80px;
	margin-right: 15px;
}

.widget-area .widget_techmax_posts_thumb .item .thumb .fullimage {
	width: 80px;
	height: 80px;
	display: inline-block;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center center !important;
}

.widget-area .widget_techmax_posts_thumb .item .thumb .fullimage.bg1 {
	background-image: url(blog-details-1.jpg);
}

.widget-area .widget_techmax_posts_thumb .item .thumb .fullimage.bg2 {
	background-image: url(blog-details-2.jpg);
}

.widget-area .widget_techmax_posts_thumb .item .thumb .fullimage.bg3 {
	background-image: url(blog-details-3.jpg);
}

.widget-area .widget_techmax_posts_thumb .item .info {
	overflow: hidden;
	margin-top: 5px;
}

.widget-area .widget_techmax_posts_thumb .item .info span {
	display: block;
	color: #5f5f5f;
	text-transform: capitalize;
	margin-top: 3px;
	font-size: 14px;
}

.widget-area .widget_techmax_posts_thumb .item .info .title {
	margin-bottom: 0;
	line-height: 1.4;
	font-size: 16px;
}

.widget-area .widget_techmax_posts_thumb .item .info .title a {
	display: inline-block;
}

.widget-area .widget_recent_entries ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.widget-area .widget_recent_entries ul li {
	position: relative;
	margin-bottom: 12px;
	color: #505060;
	padding-left: 14px;
	line-height: 1.5;
	font-weight: 400;
	font-size: 15.5px;
}

.widget-area .widget_recent_entries ul li:last-child {
	margin-bottom: 0;
}

.widget-area .widget_recent_entries ul li::before {
	background: #32CD32;
	height: 8px;
	width: 8px;
	content: '';
	left: 0;
	top: 7px;
	position: absolute;
	border-radius: 50px;
	border-right-style: inset;
}

.widget-area .widget_recent_entries ul li a {
	display: inline-block;
	color: #505060;
}

.widget-area .widget_recent_entries ul li a:hover {
	color: #32CD32;
}

.widget-area .widget_recent_entries ul li .post-date {
	display: block;
	font-size: 13px;
	color: #5f5f5f;
	margin-top: 4px;
}

.widget-area .widget_categories ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.widget-area .widget_categories ul li {
	margin-bottom: 12px;
	color: #5f5f5f;
	font-size: 15px;
	font-weight: 400;
}

.widget-area .widget_categories ul li:last-child {
	margin-bottom: 0;
}

.widget-area .widget_categories ul li a {
	color: #505060;
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    padding: 8px 15px;
}

.widget-area .widget_categories ul li a:hover {
	color: #fff;
    background: #32CD32;
}

.widget-area .widget_categories ul li .post-count {
	float: right;
}

.widget-area .widget_meta ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.widget-area .widget_meta ul li {
	position: relative;
	margin-bottom: 12px;
	color: #505060;
	padding-left: 14px;
	font-size: 15.5px;
	font-weight: 400;
}

.widget-area .widget_meta ul li:last-child {
	margin-bottom: 0;
}

.widget-area .widget_meta ul li::before {
	background: #32CD32;
	height: 8px;
	width: 8px;
	content: '';
	left: 0;
	top: 7px;
	position: absolute;
	border-radius: 50px;
	border-right-style: inset;
}

.widget-area .widget_meta ul li a {
	display: inline-block;
	color: #505060;
}

.widget-area .widget_meta ul li a:hover {
	color: #32CD32;
}

.widget-area .widget_tag_cloud .widget-title {
	margin-bottom: 12px;
}

.widget-area .tagcloud a {
    display: inline-block;
    color: #505060;
    font-weight: 400;
    font-size: 14px !important;
    padding: 6px 13px;
    border: 1px solid #ebebeb;
    background: #f8f8f8;
    margin-top: 8px;
    margin-right: 4px;
}

.widget-area .tagcloud a:hover, .widget-area .tagcloud a:focus {
	color: #ffffff;
	background-color: #32CD32;
	border-color: #32CD32;
}

.widget-area .widget_event_details ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.widget-area .widget_event_details ul li {
	border-bottom: 1px solid #eeeeee;
	color: #888f96;
	padding-bottom: 10px;
	padding-top: 10px;
}

.widget-area .widget_event_details ul li:first-child {
	padding-top: 0;
}

.widget-area .widget_event_details ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.widget-area .widget_event_details ul li span {
	display: inline-block;
	color: #505060;
	font-weight: 400;
}

.widget-area .widget_event_details ul li a {
	display: inline-block;
	color: #888f96;
}

.widget-area .widget_event_details ul li a:hover {
	color: #32CD32;
}
.blog-details-desc .article-content {
	margin-top: 30px;
}

.blog-details-desc .article-content .entry-meta {
	margin-bottom: -8px;
}

.blog-details-desc .article-content .entry-meta ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.blog-details-desc .article-content .entry-meta ul li {
	position: relative;
	display: inline-block;
	color: #505060;
	margin-right: 21px;
}

.blog-details-desc .article-content .entry-meta ul li span {
	display: inline-block;
	color: #505060;
	font-weight: 500;
}

.blog-details-desc .article-content .entry-meta ul li a {
	display: inline-block;
	color: #5f5f5f;
}

.blog-details-desc .article-content .entry-meta ul li a:hover {
	color: #32CD32;
}

.blog-details-desc .article-content .entry-meta ul li i {
	color: #32CD32;
	margin-right: 2px;
}

.blog-details-desc .article-content .entry-meta ul li::before {
	content: '';
	position: absolute;
	top: 12px;
	right: -15px;
	width: 6px;
	height: 1px;
	background: #32CD32;
}

.blog-details-desc .article-content .entry-meta ul li:last-child {
	margin-right: 0;
}

.blog-details-desc .article-content .entry-meta ul li:last-child::before {
	display: none;
}

.blog-details-desc .article-content h3 {
	margin-bottom: 15px;
	margin-top: 25px;
	font-size: 24px;
}

.blog-details-desc .article-content .wp-block-gallery.columns-3 {
	padding-left: 0;
	list-style-type: none;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.blog-details-desc .article-content .wp-block-gallery.columns-3 li {
	-ms-flex: 0 50%;
	-webkit-box-flex: 0;
	flex: 0 50%;
	max-width: 50%;
	padding-right: 10px;
	padding-left: 10px;
}

.blog-details-desc .article-content .wp-block-gallery.columns-3 li figure {
	margin-bottom: 0;
}

.blog-details-desc .article-footer {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 30px;
}

.blog-details-desc .article-footer .article-tags {
	-ms-flex: 0 0 50%;
	-webkit-box-flex: 0;
	flex: 0 0 50%;
	max-width: 50%;
	color: #5f5f5f;
}

.blog-details-desc .article-footer .article-tags span {
	display: inline-block;
	color: #333;
	font-size: 15px;
	font-weight: 600;
	margin-right: 5px;
}

.blog-details-desc .article-footer .article-tags a:last-child {
    margin-right: 0px;
}
.blog-details-desc .article-footer .article-tags a {
    display: inline-block;
    color: #505060;
    font-weight: 400;
    font-size: 14px !important;
    padding: 6px 13px;
    border: 1px solid #ebebeb;
    background: #f8f8f8;
    margin-top: 8px;
    margin-right: 4px;
}

.blog-details-desc .article-footer .article-tags a:hover {
    color: #ffffff;
    background-color: #32CD32;
    border-color: #32CD32;
}

.blog-details-desc .article-footer .article-share {
	-ms-flex: 0 0 50%;
	-webkit-box-flex: 0;
	flex: 0 0 50%;
	max-width: 50%;
}

.blog-details-desc .article-footer .article-share .social {
	padding-left: 0;
	list-style-type: none;
	text-align: right;
	margin-bottom: 0;
}

.blog-details-desc .article-footer .article-share .social li {
	display: inline-block;
	margin-right: 5px;
}
.blog-details-desc .article-footer .article-share .social li:last-child {
	margin-right: 0;
}

.blog-details-desc .article-footer .article-share .social li span {
	display: inline-block;
	margin-right: 5px;
	color: #333;
	font-size: 15px;
	font-weight: 600;
}

.blog-details-desc .article-footer .article-share .social li a {
	display: block;
	color: #32CD32;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #eeeef0;
	text-align: center;
	font-size: 14px;
}

.blog-details-desc .article-footer .article-share .social li a i {
	font-size: 14px;
	line-height: 30px;
}

.blog-details-desc .article-footer .article-share .social li a:hover {
	color: #ffffff;
	background-color: #32CD32;
}

.blog-details-desc .post-navigation {
	margin-top: 30px;
}

blockquote, .blockquote {
	overflow: hidden;
	background-color: #fafafa;
	padding: 50px !important;
	position: relative;
	text-align: center;
	z-index: 1;
	margin-bottom: 20px;
	margin-top: 20px;
}

blockquote p, .blockquote p {
	color: #505060;
	line-height: 1.6;
	margin-bottom: 0;
	font-style: italic;
	font-weight: 500;
	font-size: 24px !important;
}

blockquote cite, .blockquote cite {
	display: none;
}

blockquote::before, .blockquote::before {
	color: #efefef;
	content: "\f10e";
	position: absolute;
	left: 50px;
	top: -50px;
	z-index: -1;
	font-family: "Font Awesome 5 Free";
	font-size: 140px;
	font-weight: 900;
}

blockquote::after, .blockquote::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-color: #32CD32;
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-navigation {
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	padding-top: 20px;
	padding-bottom: 20px;
}

.post-navigation .navigation-links {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.post-navigation .navigation-links .nav-previous {
	-ms-flex: 0 0 50%;
	-webkit-box-flex: 0;
	flex: 0 0 50%;
	max-width: 50%;
}

.post-navigation .navigation-links .nav-previous a i {
	margin-right: 2px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.post-navigation .navigation-links .nav-previous a:hover i {
	margin-right: 0;
}

.post-navigation .navigation-links .nav-next {
	-ms-flex: 0 0 50%;
	-webkit-box-flex: 0;
	flex: 0 0 50%;
	max-width: 50%;
	text-align: right;
}

.post-navigation .navigation-links .nav-next a i {
	margin-left: 2px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.post-navigation .navigation-links .nav-next a:hover i {
	margin-left: 0;
}

.post-navigation .navigation-links div a {
	display: inline-block;
	font-weight: 600;
}

.comments-area {
	padding: 25px;
	margin-top: 30px;
	-webkit-box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
	box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
	background-color: #ffffff;
}

.comments-area .comments-title {
	position: relative;
	margin-bottom: 30px;
	line-height: initial;
	font-size: 24px;
	font-weight: 600;
}

.comments-area ol, .comments-area ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.comments-area .comment-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.comments-area .comment-body {
	border-bottom: 1px solid #eeeeee;
	padding-left: 65px;
	color: #505060;
	font-size: 14px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.comments-area .comment-list .children {
    padding-left: 90px;
}
.comments-area .comment-body .reply {
	margin-top: 15px;
}

.comments-area .comment-body .reply a {
	border: 1px solid #ded9d9;
	color: #505060;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 30px;
	text-transform: capitalize;
	position: relative;
	z-index: 1;
	font-size: 16px;
	font-weight: 600;
}

.comments-area .comment-body .reply a:hover {
	color: #ffffff;
	background-color: #32CD32;
	border-color: #32CD32;
}

.comments-area .comment-author {
	font-size: 17px;
	margin-bottom: 0.1em;
	position: relative;
	z-index: 2;
}

.comments-area .comment-author .avatar {
	height: 50px;
	left: -65px;
	position: absolute;
	width: 50px;
}

.comments-area .comment-author .fn {
	font-weight: 600;
}

.comments-area .comment-author .says {
	display: none;
}

.comments-area .comment-metadata {
	margin-bottom: .8em;
	color: #5f5f5f;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
}

.comments-area .comment-metadata a {
	color: #5f5f5f;
}

.comments-area .comment-metadata a:hover {
	color: #32CD32;
}

.comments-area .comment-respond {
	margin-top: 30px;
}

.comments-area .comment-respond .comment-reply-title {
	margin-bottom: 0;
	position: relative;
	font-size: 24px;
	font-weight: 600;
}

.comments-area .comment-respond .comment-reply-title #cancel-comment-reply-link {
	display: inline-block;
}

.comments-area .comment-respond .comment-form {
	overflow: hidden;
}

.comments-area .comment-respond .comment-notes {
	margin-bottom: 0;
	margin-top: 10px;
}

.comments-area .comment-respond .comment-form-comment {
	margin-top: 20px;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.comments-area .comment-respond label {
	display: block;
	font-weight: 600;
	color: #505060;
	margin-bottom: 5px;
}

.comments-area .comment-respond input[type="date"], .comments-area .comment-respond input[type="time"], .comments-area .comment-respond input[type="datetime-local"], .comments-area .comment-respond input[type="week"], .comments-area .comment-respond input[type="month"], .comments-area .comment-respond input[type="text"], .comments-area .comment-respond input[type="email"], .comments-area .comment-respond input[type="url"], .comments-area .comment-respond input[type="password"], .comments-area .comment-respond input[type="search"], .comments-area .comment-respond input[type="tel"], .comments-area .comment-respond input[type="number"], .comments-area .comment-respond textarea {
	display: block;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	padding: 0.625em 0.7375em;
	outline: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.comments-area .comment-respond input[type="date"]:focus, .comments-area .comment-respond input[type="time"]:focus, .comments-area .comment-respond input[type="datetime-local"]:focus, .comments-area .comment-respond input[type="week"]:focus, .comments-area .comment-respond input[type="month"]:focus, .comments-area .comment-respond input[type="text"]:focus, .comments-area .comment-respond input[type="email"]:focus, .comments-area .comment-respond input[type="url"]:focus, .comments-area .comment-respond input[type="password"]:focus, .comments-area .comment-respond input[type="search"]:focus, .comments-area .comment-respond input[type="tel"]:focus, .comments-area .comment-respond input[type="number"]:focus, .comments-area .comment-respond textarea:focus {
	border-color: #32CD32;
}

.comments-area .comment-respond .comment-form-author {
	float: left;
    width: 50%;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

.comments-area .comment-respond .comment-form-email {
    float: left;
    width: 50%;
    padding-left: 12px;
    margin-top: 20px;
    margin-bottom: 0;
}

.comments-area .comment-respond .form-submit {
	float: left;
	width: 100%;
}

.comments-area .comment-respond .form-submit input {
	background: #32CD32;
	border: none;
	color: #ffffff;
	padding: 10px 30px;
	display: inline-block;
	cursor: pointer;
	outline: 0;
	border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	font-weight: 600;
	font-size: 14px;
}

.comments-area .comment-respond .form-submit input:hover, .comments-area .comment-respond .form-submit input:focus {
	color: #ffffff;
	background-color: #505060;
}
a {
    color: inherit;
    
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
 
  
  footer {
    background: #212529;
  }