body {
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: 'Cabin', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}

button {
	outline: 0 !important;
}

dl, ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.d-table {
	width: 100%;
	height: 100%;
}

.d-table-cell {
	vertical-align: middle;
}



.bg-grey {
	background-color: rgb(215, 215, 215, 0.17);
}

.section-padding {
	padding: 100px 0;
}

a {
	text-decoration: none;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	outline: 0 !important;
	color: #505060;
}

a:hover {
	text-decoration: none;
	color: #32CD32;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.4;
	font-family: 'Trebuchet MS', sans-serif;
}

p {
	font-size: 15px;
	line-height: 1.8;
	color: #5f5f5f;
	margin-bottom: 15px;
	font-weight: 400;
	letter-spacing: 0.3px;
	font-family: Verdana, sans-serif;
}

p:last-child {
	margin-bottom: 0;
}

.default-btn {
	border: none;
	position: relative;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	color: #ffffff;
	background-color: #32CD32;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 30px;
	font-weight: 600;
	font-size: 15px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.default-btn span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #3e57d0;
	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 30px;
}

.default-btn:hover, .default-btn:focus {
	color: #ffffff;
}

.default-btn:hover span, .default-btn:focus span {
	width: 225%;
	height: 562.5px;
}

.default-btn-one {
	border: none;
	position: relative;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	color: #32CD32;
	background-color: #ffffff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 30px;
	font-weight: 600;
	font-size: 15px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 5px;
	margin-right: 20px;
	box-shadow: 0 7px 25px rgb(123,104,238,0.25);
}

.default-btn-one span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: #3e57d0;
	-webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 30px;
}

.default-btn-one:hover, .default-btn-one:focus {
	color: #ffffff;
}

.default-btn-one:hover span, .default-btn-one:focus span {
	width: 225%;
	height: 562.5px;
}

.section-title {
	text-align: center;
	margin-bottom: 65px;
	line-height: 1.5;
}

.section-title h6 {
	font-size: 16px;
	font-weight: 600;
	color: #FF9800;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.section-title h2 {
	font-size: 33px;
	color: #505060;
	margin: 0 0 0 0;
	font-weight: 600;
}

.color-text {
    color: #228B22;
}
.about-area {
	position: relative;
	z-index: 1;
}
.about-content {
    margin-right: 60px;
}
.about-content h6 {
	color: #32CD32;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.about-content h2 {
	font-size: 33px;
	font-weight: 600;
	margin-bottom: 20px;
}

.about-content-text p {
	margin-bottom: 15px;
}

.about-area .skills {
	margin-top: 30px;
}
.about-area .skills .skill-item {
	margin-bottom: 25px;
}

.about-area .skills .skill-item:last-child {
	margin-bottom: 0px;
}

.about-area .skills .skill-item h6 {
	position: relative;
	z-index: 4;
	font-size: 15px;
	letter-spacing: 0.7px;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
}
.about-area .skills .skill-item h6 em {
	float: right;
	font-size: 15px;
	font-style: normal;
}
.about-area .skills .skill-item .skill-progress {
	position: relative;
	height: 5px;
	border-radius: 5px;
	background: #f1f1fa;
}
.about-area .skills .skill-item .skill-progress .progres {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 10%;
	background-color: #32CD32;
	-webkit-transition: all 1.5s;
	transition: all 1.5s;
}

.about-image {
    position: relative;
    text-align: center;
    margin-right: 40px;
}
.about-image img {
	border-radius: 3px;
    box-shadow: 0px 10px 60px rgb(0, 0, 0, 0.2);
}
.about-image:before {
    display: block;
    content: '';
    position: absolute;
    right: -55px;
    top: 55px;
    visibility: visible;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: repeat;
}
.testimonial-section {
	text-align: center;
	position: relative;
	z-index: 1;
}

.single-testimonial {
	position: relative;
	background: #fff;
	padding: 30px 15px;
	border-radius: 5px;
}

.single-testimonial .testimonial-content {
	margin-bottom: 25px;
	text-align: center;
}

.single-testimonial .rating-box {
	margin-bottom: 10px;
}
.rating-box ul li {
	display: inline-block;
	margin-right: 0px;
}

.rating-box ul li i {
	color: #ffce39;
	font-size: 16px;
}

.single-testimonial .testimonial-content p {
	font-size: 15px;
	color: #333;
	font-style: italic;
	line-height: 1.8;
	letter-spacing: 1px;
}

.single-testimonial .avatar {
	margin: 0 auto;
	margin-bottom: 15px;
}

.single-testimonial .avatar img {
	border-radius: 50%;
	border: 5px solid #f8f8f8;
	width: 90px;
	margin: 0 auto;
}

.single-testimonial .testimonial-bio {
	text-align: center;
}

.single-testimonial .testimonial-bio .bio-info h3 {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	margin-top: 0;
}

.single-testimonial .testimonial-bio .bio-info span {
	color: #333;
	font-size: 15px;
	font-weight: 500;
}